article{
    width: 180px;
    height: 300px;
    border: solid;
    border-color: black;
}

.caja{
    content: url(assets/foto.jpg);
    margin:5px;
    width: 165px;
    height: 165px;
    border: solid;
    border-color: gainsboro;
    z-index: 1;
}

.barra{
    background-color: aqua;
    z-index: 1;
    height: 30px;
    width: 165px;
    z-index: -1;
}
.precio{
    background-image: url(assets/boton_amarillo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 30px;
}
.texto{
    color: green;
}

.topventas{
    content: url(assets/logo_novedad-mini.png);
    float: left;
    width: 40px;
    height: 40px;
}